*{
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color:black;
}
/*;
*/
    
.intro_bg {
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  width:100%;
  height:1000px;
}

.header {
  display: flex;
  width: 1400px;
  height: 86px;
  margin:auto;
  background-color:transparent;
}

.searchArea{
  justify-content: flex-start;
  width: 300px;
  height: 40px;
  background-color:transparent;
  border-radius:5px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color:transparent;
  width:calc(1100px);
  line-height: 86px;
  
}

.nav > li{
  margin-left: 84px;
}

.nav > li > a {
  color: white;
}

.title {
  width:100%;
  margin: 100px auto 231px auto;
  text-align: center;
}

.title > h1 {
color: white;
font-size : 6vmax
}

.title > h4 {
  color: white;
font-size : 2vmax
}

.amount {
  display: flex;
  width: 1440px;
  background-color: transparent;
  margin:auto;
  position:relative;
  bottom:-300px;
}

.amount > li {
  flex:1;
  height: 132px;
  background-color: white;
}

.amount > li > div {
  margin-top: 20px;
  text-align: center;
  background-color: blue;
  color:white;
}

.main_text{
 
  width: 100%;
  height: 600px;
  margin-top:132px;
  background-color: transparent;
}

.main_text > h1 {
  padding-top:250px;
  text-align: center;
  background-color: transparent;
  
}

.main_text > .contents1 {
  margin-top: 50px;
  text-align: center;
}

.tableauPlaceholder {
  margin:50px auto 100px auto;

 }

 .service > img {
  padding-left: 100px;
 }

 .member {
  display: flex;
  width: 1440px;
  background-color: transparent;
  margin:auto;
  position:relative;
  
}

.member > li {
  flex:1;
  height: 132px;
  background-color: white;
}

.member > li > div {
  margin-top: 20px;
  text-align: center;
  background-color: blue;
  color:white;
}

.service {
  text-align: center;
}

.team {
  text-align: center;
}

.contact {
  text-align: center;
}



/*
.intro_bg {
  height:100vh;
  background-image: url();
  background-repeat: no-repeat;
  background-size:cover;
}

.nav {
    height: 70px;
    align-items: center;
    background: none;
  }
  
  .title {
    font-size : 6vmax;
    font-weight : bold;
    text-align : center;
    color: white;
  }

  .subtitle1 {
    font-size : 2vmax;
    font-weight : 300;
    text-align : center;
    color: white;
  }

   .subtitle2 {
    font-size : 2vmax;
    font-weight : 300;
     text-align : center;
     color: white;
  }

  


  .About {
    margin-top: 20px;
    background-image: url(images/analysis1.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
  
  }
  
  .Stuff {
    font-size : 6vmax;
    font-weight : bold;
    text-align : center;
    color: black;
  }

  .Service {
    margin-top: 20px;
    background-image: url(images/analysis2.PNG);
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
  }

  */
  

